* {
  box-sizing: border-box;
}

a {
  color: black !important;
}

.border-a {
  border: 1px solid #740a76;
  border-radius: 5px;
}

.border-b {
  background-color: #740a76;
  border: 1px solid #740a76;
  border-radius: 5px;
  color: white !important;
}

.align {
  display: flex;
  align-items: center !important;
}

.justify {
  display: flex;
  justify-content: center !important;
}

.me {
  margin-right: 10%;
}

.mt {
  margin-top: 4%;
}

.container-a {
  width: 90vw;
}

.products {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 2%;
  padding-right: 2%;
}

.border-button-a {
  text-decoration: none;
  background-color: #740a76;
  border: 1px solid #740a76;
  border-radius: 5px;
  color: white !important;
}

.border-button-b {
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.text-purple {
  color: #740a76 !important;
}

.bg-purple {
  background-color: #740a76 !important;
}

.rounded-x {
  border-radius: 2rem;
}
